body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

.meta-nav {
    min-height: 40px;
    background: #000000;
    color: #ffffff;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: space-between;
}

.joinIEEE {
    padding: 10px;
}

#meta-ieee-logo {
    margin: 0px;
    /* float: right; */
}

#meta-ieee-logo .joinIEEE {
    color: #fff;
    padding: 11px 16px;
}

#meta-ieee-logo .joinIEEE:link,
#meta-ieee-logo .joinIEEE:visited,
#meta-ieee-logo .joinIEEE:active {
    color: #fff;
    text-decoration: none;
}

#meta-ieee-logo .joinIEEE:hover {
    color: #fff;
    text-decoration: underline;
}

#ieee-meta-a img {
    height: 30px;
}

@media (max-width: 800px) {
    .meta-nav {
        min-height: 100px;
        background: #000000;
        color: #ffffff;
        padding: 0px;
        margin: 0px;
    }

    .meta-ieee-logo {
        padding: 20px 0px 0px 0px;
        float: right;
        max-width: 100px;
    }
}

p {
    font-family: inherit;
    font-size: .9em;
    line-height: 125%;
    border: 0;
    margin: 0;
}

#ieee-meta-a {
    color: #fff;
    padding: 11px 36px;
    display: flex;
}

#ieee-meta-a a:link,
#ieee-meta-a a:visited,
#ieee-meta-a a:active {
    color: #fff;
    text-decoration: none;
}

#ieee-meta-a a:hover {
    color: #fff;
    text-decoration: underline;
}