/* @tailwind base;
@tailwind components;
@tailwind utilities; */


:root {
  --dark-bg: #03080a;
  --light-bg: #f6f7fb;
  --primary-color: #21E6C1;
  --third-color: #21E6C1;
  --text-color-light: #ffffff;
  --text-color-dark: #3a3a3a;
  --title-color: #21E6C1;
  /* --border-color: #6a55f8;
  --border-color-dark: #27263a;
  --border-color-light: #6a55f8; */
  --shadow: 1px 1px 9px rgb(37, 37, 37);
  --white-100: #FFFFFF;
  --dark-900: #09090A;
  --dark-600: #808090;
  --green-400: #21E6C1;
  --green-white-100: #21E6C1;
  --black-gradient: linear-gradient(144.39deg,
      #5f5f5f -278.47%,
      #161616 85.61%);
}

html {
  box-sizing: border-box;
}

body {
  color: var(--text-color-light);
  margin: 0 !important;
  max-width: 100%;
  overflow-x: hidden;
  padding: 0 !important;
  touch-action: pan-y, pan-x;
  transition: all 0.4s cubic-bezier(0.57, 0.25, 0.33, 1) 0s;
}


.container {
  width: 100%;
  margin: auto;
  overflow: hidden;
}

@media (min-width: 2100px) {
  .container {
    max-width: 1600px;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}